<div [hidden]="hasBeenSubmitted">
  <div class="contact">
    <div class="inner">
      <h1>Contact Us</h1>
      <form (ngSubmit)="register(contactForm, $event)" #contactForm="ngForm">
        <div>
          <label for="contactname">Name:</label>
          <input type="text" id="contactname" name="contactname" required minlength="4" maxlength="24" [(ngModel)]="model.contactname" #contactname="ngModel"  placeholder="Your name"/>
          <div *ngIf="contactname.errors && (contactname.dirty || contactname.touched)" class="alertname"><br>
            <div [hidden]="!contactname.errors.required">
              Name is required
            </div>
            <div [hidden]="!contactname.errors.minlength">
              Name must be at least 4 characters long.
            </div>
            <div [hidden]="!contactname.errors.maxlength">
              Name cannot be more than 24 characters long.
            </div>
          </div>
        </div>
        <div>
          <label for="contactemail">Email:</label>
          <input type="email" id="contactemail" name="contactemail" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="model.contactemail" #contactemail="ngModel" placeholder="Your email" >
          <div *ngIf="contactemail.errors && (contactemail.valid || contactemail.touched)" class="alertemail"><br>
            <div [hidden]="!contactemail.errors.required">
              Email is required
            </div>
            <div [hidden]="!contactemail.errors.pattern">
              Please input a valid email.
            </div>
          </div>
        </div>
        <div>
          <label for="contactmessage">Message:</label><br>
          <textarea id="contactmessage" name="contactmessage" [(ngModel)]="model.contactmessage" placeholder="YOU TEXT..."  required></textarea>
        </div>
        <button class="formsubmit" type="submit">SEND MESSAGE</button>
      </form>
      <div class="flex-last-mobile">
        <div class="left">
          <ul>
            <li><H3>SUPPORT</H3></li>
            <li><a [routerLink]="['home']">Terms & Conditions</a></li>
            <li><a [routerLink]="['home']">FAQ</a></li>
            <li><a [routerLink]="['home']">Payment</a></li>
            <li><a [routerLink]="['home']">Refunds</a></li>
            <li><a [routerLink]="['home']">Track Order</a></li>
            <li><a [routerLink]="['home']">Services</a></li>
            <li><a [routerLink]="['home']">Privacy & Security</a></li>
            <li><a [routerLink]="['home']">Careers</a></li>
            <li><a [routerLink]="['home']">Press</a></li>
            <li><a [routerLink]="['home']">Coporate Information</a></li>
          </ul>
        </div>
        <div class="right">
          <ul>
            <li><a [routerLink]="['home']">Sizing</a></li>
            <li><a [routerLink]="['home']">Ordering</a></li>
            <li><a [routerLink]="['home']">Shipping</a></li>
            <li><a [routerLink]="['home']">Return Policy</a></li>
            <li><a [routerLink]="['home']">Affiliates</a></li>
            <li><a [routerLink]="['home']">Find A Store</a></li>
            <li><a [routerLink]="['home']">Site Map</a></li>
            <li><a [routerLink]="['home']">Sign Up & Save</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
   </div>
<div class="inner">
  <div [hidden]="!hasBeenSubmitted">You have submitted. you name is {{model.contactname}}.you email is {{model.contactemail}} you message {{model.contactmessage}} {{model.hasBeenSubmitted}} </div>
</div>
