<footer>
  <div class="signup">
    <div class="inner">
      <div class="signup_content">
        <div class="item"><h2>SIGN UP FOR SALES AND PRODUCT NEWS</h2></div>
        <div class="signup-field"><input class="signup-input" type="text"><button>SIGN UP</button></div>
      </div>
    </div>
  </div>
  <div class="inner">
    <div class="footer_content">
      <div class="item">
        <H3>OUR STORIES</H3>
        <span><p>Feel free to visit our stores or contact us</p></span>
        <span>
        <p>Vinegade 109</p>
        <p>500 Odense</p>
        <p>99886622</p>
        </span>
        <span>
        <p>Vestergade 910</p>
        <p>9000 Aalborg</p>
        <p>96819191</p>
        </span>
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-google-plus" aria-hidden="true"></i>
        <i class="fa fa-vimeo" aria-hidden="true"></i>
        <i class="fa fa-rss" aria-hidden="true"></i>
      </div>
      <div class="item">
        <H3>BLOG POSTS</H3>
        <h4>Lorm ipsum hey</h4>
        <span><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <p>Pellentesque at faucibus magna. </p></span>
        <h4>Lorm ipsum hey</h4>
        <span><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <p>Pellentesque at faucibus magna. </p></span>
        <h4>Lorm ipsum hey</h4>
        <span><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <p>Pellentesque at faucibus magna. </p></span>
      </div>
      <div class="flex-last-desktop">
        <div class="left">
          <ul>
            <li><H3>SUPPORT</H3></li>
            <li><a [routerLink]="['home']">Terms & Conditions</a></li>
            <li><a [routerLink]="['home']">FAQ</a></li>
            <li><a [routerLink]="['home']">Payment</a></li>
            <li><a [routerLink]="['home']">Refunds</a></li>
            <li><a [routerLink]="['home']">Track Order</a></li>
            <li><a [routerLink]="['home']">Services</a></li>
            <li><a [routerLink]="['home']">Privacy & Security</a></li>
            <li><a [routerLink]="['home']">Careers</a></li>
            <li><a [routerLink]="['home']">Press</a></li>
            <li><a [routerLink]="['home']">Coporate Information</a></li>
          </ul>
        </div>
        <div class="right">
          <ul>
            <li><a [routerLink]="['home']">Sizing</a></li>
            <li><a [routerLink]="['home']">Ordering</a></li>
            <li><a [routerLink]="['home']">Shipping</a></li>
            <li><a [routerLink]="['home']">Return Policy</a></li>
            <li><a [routerLink]="['home']">Affiliates</a></li>
            <li><a [routerLink]="['home']">Find A Store</a></li>
            <li><a [routerLink]="['home']">Site Map</a></li>
            <li><a [routerLink]="['home']">Sign Up & Save</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
