<header>
  <div class="inner">
    <div class="headertop">
      <div class="item">
        <h1>SuperSport</h1>
      </div>
      <div class="item">
        <i class="fa fa-phone" aria-hidden="true"></i>&nbsp; +45 22660077 &nbsp; <i class="fa fa-envelope-o" aria-hidden="true"></i> &nbsp; LOREM@IPSUM.COM &nbsp;
        <button><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;$99.54 CHECKOUT</button>
      </div>
    </div>
    <ul class="navigation">
      <li><a [routerLink]="['home']">HOME</a></li>
      <li><a [routerLink]="['home']">MEN</a></li>
      <li><a [routerLink]="['home']">WOMEN</a></li>
      <li><a [routerLink]="['home']">KIDS</a></li>
      <li><a [routerLink]="['home']">SALE</a></li>
      <li><a [routerLink]="['home']">ABOUT US</a></li>
      <li><a [routerLink]="['contact']">SUPPORT</a></li>
      <div class="search"><i class="fa fa-search" aria-hidden="true"></i><input ng-model="searchText" placeholder="Search.."></div>
    </ul>
  </div>
</header>
