<div class="wrap">
  <input id="slide-1-trigger" type="radio" name="slides" checked>
  <section class="slide slide-one">
    <div class="sliderbox">
      <div class="item">
        <h1>RIGHT IS PINK<BR> LEFT IS BLUE</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac pellentesque nunc.
          Duis ornare mattis facilisis.
          Quisque neque erat, semper in porta vel, ullamcorper sit amet tortor.</p>
        <button class="sliderbutton">SHOP BRASIL</button>
      </div>
    </div>
  </section>
  <input id="slide-2-trigger" type="radio" name="slides">
  <section class="slide slide-two">
    <div class="sliderbox">
      <div class="item">
        <h1>RIGHT IS PINK<BR> LEFT IS BLUE</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac pellentesque nunc.
          Duis ornare mattis facilisis.
          Quisque neque erat, semper in porta vel, ullamcorper sit amet tortor.</p>
        <button>SHOP BRASIL</button>
      </div>
    </div>
  </section>
  <input id="slide-3-trigger" type="radio" name="slides">
  <section class="slide slide-three">
    <div class="sliderbox">
      <div class="item">
        <h1>Ppage1</h1>
      </div>
    </div>
  </section>
  <input id="slide-4-trigger" type="radio" name="slides">
  <section class="slide slide-four">
    <div class="sliderbox">
      <div class="item">
        <h1>RIGHT IS PINK<BR> LEFT IS BLUE</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac pellentesque nunc.
          Duis ornare mattis facilisis.
          Quisque neque erat, semper in porta vel, ullamcorper sit amet tortor.</p>
        <button>SHOP BRASIL</button>
      </div>
    </div>
  </section>
  <input id="slide-5-trigger" type="radio" name="slides">
  <section class="slide slide-five">
    <div class="sliderbox">
      <div class="item">
        <h1>RIGHT IS PINK<BR> LEFT IS BLUE</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac pellentesque nunc.
          Duis ornare mattis facilisis.
          Quisque neque erat, semper in porta vel, ullamcorper sit amet tortor.</p>
        <button>SHOP BRASIL</button>
      </div>
    </div>
  </section>
</div>
